body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #1F2937;
}

#logo{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    padding:0%
    

}

#logo p {
    margin: 0%;
    padding-right: 0%;
}

nav{
    display:flex;
    flex-direction: row-reverse;

    font-size: 24px;
    
    
    
}

.nav_links, a{
    
    color: #F9FAF8;
    list-style-type: none;
    text-decoration: none;
}
footer{
    background-color: #1F2937;
}